<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Description Page</title>
</head>
<body>
    <h2 style="text-align: center;"> "submit a Description"</h2>
    <form action="/description_page" method="POST">
        <label for="description_page">Description:</label>
        <textarea name="description" rows="5" cols="40" placeholder="Enter your description here..." required></textarea>
        <br><br>
        <button type="submit">submit</button>


    </form>


<a href="/logout" class=""> Logout</a>

</body>
</html>